---
layout: wrapper1
title: "Projects"
---
<h1>{{ page.title }}</h1>
<p>These are some projects that I have made.</p>
{% for project in site.projects %}
<div>
  <th class="title">
    <a href="{{ project.url }}" title="{{ project.title }}">
      {{ project.title }}
      {% if project.banner %}
      <br>
      <div class="image inline">
        <img class="banner" src="/assets/img/p/{{ project.banner }}">
      </div>
      {% endif %}
    </a>
  </th>
  <th class="date">{{ project.date | date: "%b %Y" }}</th>
</div>
{% endfor %}
