---
layout: wrapper1
title: "Projects"
---

<header class="major">
    <h2>Projects</h2>
</header>
<section>
    <h4>Coffee Notify</h4>
    <p>
        From my first semester, I played a role in the coffee culture at Olin. I started as a barista at Olin's weekly
        free
        pop-up coffee shop, and quickly joined leadership. After a while, I started my own coffee cart and ran it
        (almost)
        every week from my suite. I quickly ran into the problem that coffee lovers outside of my immediate friends
        didn't know when I'm running my stand - despite putting up receipt paper ads by dorm entrances. To solve this I
        made a webapp that allowed me to list future events, and send push notifications to anyone who subscribed. At
        its peak (right before COVID killed living on-campus) I had almost 10% of the student body (~35 students)
        subscribed to my events board.
    </p>
    <div class="image inline">
        <img src="/assets/img/acronym.jpg" />
    </div>
    <p>
        I originally built this app as a Rails API + Vue.js SPA, which supported only my single events board. Seeing
        the usefulness of this app, I rebuilt it with <a href="https://www.phoenixframework.org/">Phoenix</a>, adding
        support for multiple users/boards (and to be server rendered for all 3 of my friends who block js). See it live
        <a href="https://events.verynice.party/">here</a> or check out the <a
            href="https://gitlab.com/labseven/notifyevents-phoenix">code</a>.
    </p>

    <h4>ADE Capstone</h4>
    <p>
        For my engineering capstone, I joined the Rights & Privacy team. This team was founded to use data analysis and
        software skills to support criminal justice system reform and prison abolition organizations. In my two
        semesters on the team I got to know the people working in this space around Boston, and learned a lot about the
        impacts the criminal system has on communities around the US. As a new team, our primary focus was to meet and
        learn from the groups doing work in this space to figure out how we can best support their work. In my second
        semester on the team I lead a data analysis project for <a href="https://www.blackandpinkma.org/">Black and Pink
            Boston</a>. We sent FOIA requests to
        Massachusetts jails and analyzed the (lack of) data they sent back.
        This data was used by Black and Pink to guide their advocacy work.
    </p>

    <h4>BoardBot</h4>
    <p>
        For the course Principles of Engineering, I built a CNC whiteboard drawing robot in a 4 person team. I
        played
        the role of Project Manager and was the embedded programmer. We documented the build process and
        replication instructions <a href="https://scrumbledeggs.github.io/">here</a>.
    </p>
    <div class="image inline">
        <img src="/assets/img/boardbot.jpg" />
    </div>

    <h4>Receipt Printer</h4>
    <p>
        I found a receipt printer and started experimenting with it. I played with the connection that
        people have with receipts and how a message is conveyed differently through this medium. Later I tried
        looping
        the receipt back into the printer to see what patterns emerged.
    </p>
    <div class="image inline">
        <img src="/assets/img/a/receipts_wall.jpg" />
    </div>
    <p id="culturehouse">
        I made a receipt printer that collects poll questions via sms for Culture House in Harvard Square.</p>
    <div class="image inline">
        <img src="/assets/img/a/culturehouse_receipt.jpg" />
    </div>
    <p>Now that I have the hardware and software for an email/sms to receipt printer pipeline, I can quickly set
        it up
        for events. This one lived at the Olin Library, called Betsy the <a
            href="http://www.olin.edu/news-events/2020/build-week-builds-community-and-other-cool-things/">Build
            Week</a> Bear.</p>
    <div class="image inline">
        <img src="/assets/img/a/bear.jpg" />
    </div>
    <h4>Soundscape</h4>
    <p>For an art seminar with <a href="https://mimionuoha.com/">Mimi Onuoha</a>, Seungin and I tried to
        reimagine maps
        of
        We built a soundscape board of Boston's
        Jamaica Plain neighborhood by recording the sounds of daily life in the area. It was displayed at an
        event at
        the <a href="https://www.gardnermuseum.org/experience/exhibition/big-plans/map-this">Isabella Stewart
            Gardner
            Museum</a>.</p>
    <div class="image inline">
        <img src="/assets/img/a/latin_quarter.jpg" />
    </div>
    <br>
    <h3>Want to see more? Read my <a href="/assets/Adam_Novotny.pdf">resume</a>.</h3>
</section>