<!DOCTYPE html>
<!--
	Landed by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html lang="en-US">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="/assets/css/main.css">
  <!-- <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript> -->
</head>

<body class="{% if page.bgimage %}landing{% endif %}">
  <div id="page-wrapper">

    <header id="header">
      <h1 id="logo"><a href="/">Adam Novotny</a></h1>
      <nav id="nav">
        <ul>
          <!-- <li><a href="/index">Home</a></li> -->
          <!-- <li><a href="/about">About</a></li> -->
          <li><a href="/projects">Projects</a></li>
          <li><a href="/art">Art</a></li>
          <li><a href="/contents">Contents</a></li>


          <!-- <li>
                  <a href="#">Layouts</a>
                  <ul>
                    <li><a href="left-sidebar.html">Left Sidebar</a></li>
                    <li><a href="right-sidebar.html">Right Sidebar</a></li>
                    <li><a href="no-sidebar.html">No Sidebar</a></li>
                    <li>
                      <a href="#">Submenu</a>
                      <ul>
                        <li><a href="#">Option 1</a></li>
                        <li><a href="#">Option 2</a></li>
                        <li><a href="#">Option 3</a></li>
                        <li><a href="#">Option 4</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li><a href="elements.html">Elements</a></li>
                <li><a href="#" class="button primary">Sign Up</a></li>
              -->
        </ul>
      </nav>
    </header>
    {{ content}}
    <footer id="footer">
      <hr />
      <ul class="links">
        <li><a href="mailto:adam@novotny.dev">email</a></li>
        <li><a href="https://github.com/labseven">github</a></li>
        <li><a href="https://gitlab.com/labseven">gitlab</a></li>
        <li><a href="/assets/Adam_Novotny.pdf">Resume</a></li>
        <li><a href="/lists/">linkbook</a></li>
      </ul>
    </footer>
  </div>
</body>

</html>